USE [master]
GO
/****** Object:  Database [Storehouse]    Script Date: 3/17/2016 1:35:18 ******/
CREATE DATABASE [Storehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Storehouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Storehouse.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Storehouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Storehouse_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Storehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Storehouse]
GO
/****** Object:  Table [dbo].[GoodOperationType]    Script Date: 3/17/2016 1:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodOperationType](
	[ID] [int] NOT NULL,
	[TypeOfOperation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GoodStatusCodes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goods]    Script Date: 3/17/2016 1:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[StorageID] [int] NOT NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoodsStatus]    Script Date: 3/17/2016 1:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusDataFrom] [datetime] NOT NULL,
	[GoodAmount] [decimal](18, 0) NOT NULL,
	[GoodOperationID] [int] NOT NULL,
	[GoodID] [int] NOT NULL,
 CONSTRAINT [PK_GoodsStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Storages]    Script Date: 3/17/2016 1:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ImagePath] [nvarchar](100) NULL,
	[UserID] [int] NOT NULL,
	[Capacity] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Storages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/17/2016 1:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Storages] FOREIGN KEY([StorageID])
REFERENCES [dbo].[Storages] ([ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Storages]
GO
ALTER TABLE [dbo].[GoodsStatus]  WITH CHECK ADD  CONSTRAINT [FK_GoodsStatus_GoodOperationType] FOREIGN KEY([GoodOperationID])
REFERENCES [dbo].[GoodOperationType] ([ID])
GO
ALTER TABLE [dbo].[GoodsStatus] CHECK CONSTRAINT [FK_GoodsStatus_GoodOperationType]
GO
ALTER TABLE [dbo].[GoodsStatus]  WITH CHECK ADD  CONSTRAINT [FK_GoodsStatus_Goods] FOREIGN KEY([GoodID])
REFERENCES [dbo].[Goods] ([ID])
GO
ALTER TABLE [dbo].[GoodsStatus] CHECK CONSTRAINT [FK_GoodsStatus_Goods]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD  CONSTRAINT [FK_Storages_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Storages] CHECK CONSTRAINT [FK_Storages_Users]
GO
USE [master]
GO
